<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoArrow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GoArrow.Properties.Settings>
            <setting name="DungeonBaseURL" serializeAs="String">
                <value>http://acmaps.arcayn.com/maps/</value>
            </setting>
            <setting name="DungeonListURL" serializeAs="String">
                <value>http://acmaps.arcayn.com/maps/notused.csv</value>
            </setting>
            <setting name="MapCacheRefreshDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DungeonListCacheRefreshDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BlacklistAgeDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DungeonCacheFile" serializeAs="String">
                <value>http://acmaps.arcayn.com/maps/dungeons.txt</value>
            </setting>
            <setting name="EnableBlacklist" serializeAs="String">
                <value>False</value>
            </setting>
        </GoArrow.Properties.Settings>
    </userSettings>
</configuration>